.adminloginbg{
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
  background-image: url("https://media.cntraveler.com/photos/598c85ed22f21b5b9ee315e8/master/w_1200,c_limit/Psych_cheap_flights_GettyImages-126346908.jpg?mbid=social_retweet");
  background-size: cover;
  background-repeat: no-repeat;
}

.admincard{
  width: 500px;
  height: fit-content;
  background-color: transparent;
  margin: 50px auto 500px auto;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 5px gray;
  color: white;
  text-align: center;
  padding: 20px;
}

.admincard form input{
  margin: 20px auto;
  width: 280px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
