<div class="userloginbg">
  <app-navbar></app-navbar>
  <div class="usercard">
      <h2>User Login</h2>
      <form [formGroup]="userForm" (ngSubmit)="userLogin()">
          <input type="text" name="username" id="username" placeholder="Username" formControlName="email"><br/>
          <input type="password" name="password" id="password" placeholder="Password" formControlName="pass"><br/>
          <button class="btn btn-primary">Login</button>
      </form>
      <p>Wanna create new Account? <a href="userregistration" style="color: white;">click here</a></p>
  </div>
</div>
